[submodule "instantelegram"]
	path = instantelegram
	url = https://github.com/smclaughlan/instantelegram.git
[submodule "instantelegramback"]
	path = instantelegramback
	url = https://github.com/smclaughlan/instantelegramback.git
